* {
    box-sizing: border-box; 
}

body {
    display: flex;
    flex-direction: column;
    background-color: grey;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

main {
    display: flex;
    justify-content: center;
    align-content: center;
    height: max-content;
}

main img{
    padding-top: 100px;
}

/* h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

.masthead .text { 
    font-size: 1rem;
    margin: 0 0 0.5rem 0;
}

.masthead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 125px;
    background-color: #77ED4A;
    text-align: left;
    padding-left: 15px;
    padding-right: 25px;
    margin: 0px;
}

.search-bar {
    display: flex;
    align-items: center;

}

.search-bar input {
    height: 5rem;
    width: 65rem;
    padding-left: 2rem;
    background-color: #77ED4A;
    border: 1px solid white;
    color: white;
    font-size: 2rem;
    border-radius: 4px 0 0 4px;
    outline: none;
    text-align: left;
}

.search-bar input::placeholder {
    color: white;
}
