body {
    color: white;
    background-color: grey;
    display: flex;
    place-content: center;
    place-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

.big-bar {
    width: 1000px;
    height: 100px;
    background-color: #77ED4A;
    text-align: center;
}
